:host {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--grey-middle);

  form {
    display: flex;
    width: 100%;

    & > * {
      width: 20%;
      margin-left: 20px;
    }

  }


}
