:host {
  h1 {
    margin-bottom: 40px;
  }
  .actions {
    margin-top: 40px;
    button {
      margin: 0 10px;
    }
  }

  kuisto-select-season {
    margin-bottom: 20px;
  }

  img{
    display: block;
    max-height: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
