<div class="d-flex w-100" cdkDropListGroup>

  <div class="d-flex flex-column w-100">
    <div class="d-flex align-items-center justify-content-between header">
      <h1>Recettes par semaine</h1>

      <button mat-flat-button class="round close-btn"
              *ngIf="rightPanelIsOpen" (click)="rightPanelIsOpen = false">Fermer</button>
      <button mat-flat-button class="round" color="primary"
              *ngIf="!rightPanelIsOpen" (click)="rightPanelIsOpen = true">Ajouter une recette</button>
    </div>

    <kuisto-calendar-week-view></kuisto-calendar-week-view>
  </div>

  <kuisto-add-scheduled-recipe [class.opened]="rightPanelIsOpen"></kuisto-add-scheduled-recipe>

</div>
