:host {
  display: flex;
  height: 100%;


  kuisto-add-scheduled-recipe {
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out;

    &.opened {
      width: 400px;
    }
  }
  .header {
    padding: 20px;
    border-bottom: 1px solid var(--grey-middle);
  }

  .close-btn {
    background: var(--black);
    color: white;
  }


}
