:host {
  display: flex;


  kuisto-add-scheduled-recipe {
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out;

    &.opened {
      width: 400px;
    }
  }
  .header, kuisto-calendar-header {
    padding: 20px;
    border-bottom: 1px solid var(--grey);
  }

  .close-btn {
    background: var(--black);
    color: white;
  }

  .recipes {
    width: calc(100% - 40px);
    height: calc(100% - 260px);
    flex-wrap: wrap;
    overflow: auto;
    background: white;
    padding: 20px;
    gap: 20px;
    align-content: baseline;
    transition: background 0.5s ease-in-out;

    &.cdk-drop-list-dragging {
      background: var(--grey-middle);
    }
  }
}
