:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.currentWeek {
    color: var(--blue);
  }

  .week {
    font-weight: 500;
    font-size: 25px;
  }

  .days {
    font-weight: 500;
    font-size: var(--font-medium-size);
    color: var(--grey-dark);
  }
}
