<mat-icon class="close" mat-dialog-close (click)="close()">close</mat-icon>
<h1>Enregistrer une recette</h1>
<div mat-dialog-content>

  <form [formGroup]="recipeForm">

    <div class="d-flex gap-1">
      <mat-form-field>
        <mat-label>Nom de la recette</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>


      <kuisto-select-season controlName="season"></kuisto-select-season>
    </div>


    <mat-form-field>
      <mat-label>Lien de la recette</mat-label>
      <input matInput formControlName="link">
    </mat-form-field>


    <div class="d-flex image-input">
      <mat-form-field>
        <mat-label>Image de la recette</mat-label>
        <input matInput formControlName="image">
      </mat-form-field>
      <img alt="Image de la recette" [src]="imageControl.value" *ngIf="imageControl.value">
    </div>


    <kuisto-multi-input title="Ingrédients" [(items)]="ingredients"></kuisto-multi-input>
    <kuisto-multi-input title="Étapes de préparation" [(items)]="steps"></kuisto-multi-input>
  </form>


  <div class="actions d-flex justify-content-center">
    <button mat-flat-button (click)="close()">
      Annuler
    </button>

    <button mat-flat-button color="primary" [disabled]="!recipeForm.valid" (click)="saveRecipe()">
      Enregistrer
    </button>

  </div>

</div>
