:host {
  --label-color: var(--blue);
  --background-color: var(--light-blue);

  &.Spring {
    --label-color: var(--dark);
    --background-color: var(--light-green);
  }
  &.Autumn {
    --label-color: var(--dark);
    --background-color: var(--light-red);
  }
  &.Summer {
    --label-color: var(--dark);
    --background-color: var(--light-orange);
  }

  mat-chip {
    display: flex;
    background: var(--background-color);
    --mdc-chip-label-text-color: var(--label-color);

    mat-icon {
      color: var(--label-color);
    }
  }
}
