:host {
  --card-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: var(--card-width);
  width: var(--card-width);
  background: white;
  border: 1px solid var(--grey-middle);

  box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 0 20px;

  text-align: center;

  .header {
    padding: 20px 0;

    .actions {
      color: var(--grey-middle);
      gap: 10px;
      mat-icon {
        cursor: pointer;
        font-size: 22px;
        &:hover {
          color: var(--black);
        }
      }
    }
  }

  img {
    width: var(--card-width);
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
  }

  a {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    color: var(--grey-dark);
    border-top: 1px solid var(--grey-middle);
  }
}
