<div class="ingredients">
  <h2>Ingrédients</h2>
  <span class="no-content" *ngIf="!recipe.ingredients?.length">Aucun ingrédients ajoutés</span>

  <div class="d-flex flex-wrap gap-1">
    <kuisto-ingredient  *ngFor="let ingredient of recipe.ingredients" [ingredient]="ingredient"></kuisto-ingredient>
  </div>
</div>
<div class="steps">
  <h2>Préparation</h2>
  <span class="no-content" *ngIf="!recipe.steps?.length">Aucunes étapes de préparation ajoutées</span>
  <div class="d-flex flex-wrap gap-1">
    <div class="step" *ngFor="let step of recipe.steps; let i = index">
      <div class="num">{{i + 1}}</div>
      <span class="label">{{step}}</span>
    </div>
  </div>
</div>
