:host {
  display: flex;
  height: calc(100% - 100px);
  --border: 1px solid var(--grey-middle);
  .header {
    padding: 20px;
    background: var(--grey-light);
    border-bottom: var(--border);

    button {
      position: absolute;
      background: var(--grey-light);

      &.right-btn {
        right: 20px;
      }
    }
  }

  .row > * {
    padding: 0;
  }
  .content > *:not(:last-child) {
     border-right: var(--border);
  }


}
