
<div class="container h-100">

  <div class="row header">
    <button mat-icon-button class="left-btn" (click)="prevWeek()">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="col-6 recipes-col" *ngFor="let week of weeks">
      <kuisto-week-label [week]="week"></kuisto-week-label>
    </div>

    <button mat-icon-button class="right-btn"  (click)="nextWeek()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="row content h-100">
    <div class="col-6 h-100 recipes-col" *ngFor="let week of weeks">
      <kuisto-week-recipes [week]="week"></kuisto-week-recipes>
    </div>
  </div>
</div>
