:host {
  .recipes {
    width: 100%;
    height: calc(100% - 130px);
    flex-wrap: wrap;
    overflow: auto;
    padding: 20px 0;
    gap: 20px;
    align-content: baseline;
    justify-content: center;
    transition: background 0.5s ease-in-out;

    &.cdk-drop-list-dragging {
      background: var(--grey-middle);
    }
  }
}
