:host {
  .header {
    padding: 20px;
    border-bottom: 1px solid var(--grey-middle);
  }

  kuisto-select-season {
    margin-left: 20px;
  }

  .recipes {
    width: calc(100% - 40px);
    height: calc(100% - 240px);
    flex-wrap: wrap;
    overflow: auto;
    background: white;
    padding: 20px;
    gap: 20px;
    align-content: baseline;

  }
}
