
<div class="d-flex align-items-center justify-content-between header">
  <div class="d-flex align-items-center">
    <h1>Liste des recettes</h1>
  </div>
  <button mat-flat-button class="round" color="primary" (click)="addRecipe()">
    Ajouter une recette
  </button>
</div>
<kuisto-recipe-filters></kuisto-recipe-filters>
<mat-spinner *ngIf="loading$ | async"></mat-spinner>

<div class="d-flex recipes">
  <kuisto-recipe-card *ngFor="let recipe of recipes$ | async" [recipe]="recipe"></kuisto-recipe-card>
</div>
