@import "assets/scss/bootstrap-grid.css";
@import "assets/scss/material";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

html, body {
  --blue: #3b60e4;
  --middle-blue: #9bb1ff;
  --light-blue: #ccdbfd;
  --black: #080708;

  --light-green: #88d4ab;
  --middle-green: #67b99a;
  --green: #14746f;

  --red: #AD534E;
  --light-red: #fcb0ac;
  --middle-red: #fb918b;

  --light-orange: #fbd1a2;
  --middle-orange: #f9b27c;
  --orange: #ac6d3e;

  --grey: #e9ecef;
  --grey-light: #F8F8F8;;
  --grey-middle: #ced4da;
  --grey-dark: #6c757d;

  --font-h1-size: 24px;
  --font-large-size: 16px;
  --font-medium-size: 14px;
  --font-small-size: 12px;

  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  color: var(--black);
  font-family: Inter, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: 500;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
