@import "assets/scss/grid";
@import "assets/scss/material";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

html, body {
  --blue: #3b60e4;
  --purple: #3b60e4;
  --light-blue: #ccdbfd;
  --black: #080708;

  --green: #00B395;
  --red: #FF4D4F;

  --grey: #e9ecef;
  --grey-light: #f8f9fa;
  --grey-middle: #ced4da;
  --grey-dark: #6c757d;

  --font-h1-size: 24px;
  --font-large-size: 16px;
  --font-medium-size: 14px;
  --font-small-size: 12px;

  background: #F8F8F8;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  color: var(--black);
  font-family: Inter, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: 500;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
